@page "/bikes"
@inject IBikeService BikeService
@inject IUserService UserService
@inject NavigationManager NavigationManager
@attribute [StreamRendering]

<h3>BikeList</h3>

@if (bikes == null)
{
    <span>Loading...</span>
}
else if (bikes.Count() == 0)
{
    <span>Brak rowerów w bazie!</span>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nazwa</th>
                <th scope="col">Opis</th>
                <th scope="col">Typ</th>
                <th scope="col">Cena</th>
                <th scope="col">Akcja</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bike in bikes)
            {
                <tr>
                    <th scope="row">@bike.Id</th>
                    <th>@bike.Name</th>
                    <th>@bike.Description</th>
                    <th>@bike.Type</th>
                    <th>@bike.Price</th>
                    <DeleteButton Id="@bike.Id" />
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<Bike>? bikes = null;

    protected override async Task OnInitializedAsync()
    {
        if (!await UserService.IsLogged())
        {
            NavigationManager.NavigateTo("/");
        }
        await Task.Delay(1000);

        bikes = await BikeService.GenerateBike();
    }
}
