@page "/UserBikeStatusList"
@inject IBikeRepairService BikeRepairService
@inject IBikeService BikeService
@inject IUserService UserService
@attribute [StreamRendering]

<h3>Tickets List</h3>
@if (bikeRepairs == null)
{
    <span>Loading...</span>
}
else if (bikeRepairs.Count() == 0)
{
    <span>Brak zleceń</span>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nazwa rowera</th>
                <th scope="col">Opis</th>
                <th scope="col">Status</th>
                <th scope="col">Koszt</th>
                <th scope="col">Data przyjęcia</th>
                <th scope="col">Planowana data zakończenia</th>
                <th scope="col">Akcja</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bikeRepair in bikeRepairs)
            {
                <tr class="">
                    <td>@GetBikeName(bikeRepair.BikeId)</td>
                    <td>@bikeRepair.Description</td>
                    <td>@bikeRepair.Status</td>
                    <td>@bikeRepair.Price</td>
                    <td>@bikeRepair.Date</td>
                    <td>@bikeRepair.EndDate</td>
                    @if (user.Role != "User")
                    {
                        <td><ChangeBikeStatusButton id="@bikeRepair.Id" /></td>
                    }
                    else if (user.Role == "User" && bikeRepair.Price != 0)
                    {
                        <td><PaymentButton></PaymentButton></td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Users? user;
    List<BikeRepair>? bikeRepairs = null;

    protected override async Task OnInitializedAsync()
    {
        user = await UserService.IsLogged();
        await Task.Delay(1000);
        bikeRepairs = BikeRepairService.GetAllBikeRepairs().Result;
    }

    public string GetBikeName(int bikeId)
    {
        var bike = BikeService.GetBikeById(bikeId).Result;
        return bike.Name;
    }
}
